---
import { bgColor, textColor } from "../../consts";
---
<div class:list={["text-center dark:text-gray-200", bgColor, ]}>
    <span class:list={["font-averia text-2xl", textColor]}>
        <a href="/Resume.pdf" download>Click me for a resume!</a>
    </span>
    <span class="font-montserrat text-xl">And click here to contact me:</span>
    <span class:list={["font-averia text-xl", textColor]}>
        <a href="mailto:collinsself03@gmail.com"> collinsself03@gmail.com</a>
    </span>
</div>
