---
const baseTextClass = 'text-7xl max-w-xl font-averia text-gray-800 dark:text-white'
---
<div class:list={[baseTextClass, "my-3 flex-row space-y-5"]}> 
    <div class="text-4xl max-w-xs">As a Sophmore I Have Earned</div>
    <div>
        <span class="text-8xl max-w-xs">11</span>/12 A<span class="text-5xl">'s</span>
    </div>
    <div class="text-4xl max-w-xs">and Counting...</div>
</div>
