---
import BaseHead from '../components/BaseHead.astro';
import MainWrapper from '../components/MainWrapper.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
    <MainWrapper>
        <h1 slot="top" class="font-serif text-9xl text-center text-slate-900 pt-20 ">I'm Collins</h1>
        <h2 slot="top" class="font-serif text-5xl text-center text-slate-900 pb-3">A Developer.</h2>
        <div slot="content" class="leading-loose font-serif ">
            <p class="p-6 text-6xl">Lorem, ipsum dolor sit amet consectetur adipisicing eli</p>
        </div>
    </MainWrapper>
</html>
