---
import Header from '../components/HeaderComponents/Header.astro';
import BaseHead from '../components/HeaderComponents/BaseHead.astro';
import HeaderWrapper from '../components/HeaderComponents/HeaderWrapper.astro';
import NavigationMenu from '../components/NavigationMenu.astro';
import Footer from '../components/FooterComponents/Footer.astro';
import PortfolioContent from '../components/PortfolioContent/PortfolioContent.astro';
import ContactLinks from '../components/FooterComponents/ContactLinks.astro';
import GrainDecor from '../components/GrainDecor/Gradient.astro';
import { SITE_TITLE, SITE_DESCRIPTION, bgColor } from '../consts';
---

<!DOCTYPE html>
<html lang="en" >
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class:list={["min-w-min", bgColor]}>
        <HeaderWrapper>
            <NavigationMenu title={SITE_TITLE} />
            <Header />
        </HeaderWrapper>
        <PortfolioContent />
        <ContactLinks />
        <Footer />
    </body>
</html>
