---
import BaseHead from '../components/BaseHead.astro';
import MainWrapper from '../components/MainWrapper.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import PortfolioContent from '../components/PortfolioContent.astro';
---

<!DOCTYPE html>
<html lang="en" >
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
    <div class="bg-gradient-to-t from-gray-100">
        <MainWrapper>
            <Header slot="header" title={SITE_TITLE} />
            <h1 slot="top" class="font-h1 text-9xl text-center text-emerald-900 max-w-xl dark:text-gray-200 pt-20 ">Hi, I'm Collins</h1>
            <h2 slot="top" class="font-h1 text-5xl text-center text-emerald-800 dark:text-gray-200">I'm a Developer.</h2>
        </MainWrapper>
        <PortfolioContent />
        <div class="bg-green-100 dark:bg-slate-600 dark:text-gray-200">
            <Footer />
        </div>
    </div>
</html>
