---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import GradientWrapper from '../components/GradientWrapper.astro';
---

<!DOCTYPE html>
<html lang="en">
    <GradientWrapper>
        <head>
            <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        </head>
        <body >
        <!-- header banner -->
            <Header title={SITE_TITLE} />
        <!-- foreal main -->
            <main>
                <h1 class="font-serif text-9xl text-center text-slate-900 py-20 ">I'm Collins</h1>
                    <div class="leading-loose font-serif bg-gray-50 rounded-3xl overflow-hidden">
                        <div class="p-6">
                        </div>
                    </div>
                </main>
            <Footer />
        </body>
    </GradientWrapper>
</html>
