---
import {bgColor} from '../../consts'
const bgCardColor = 'bg-gray-100 dark:bg-slate-700';
---
<div class:list={[bgColor, "dark:text-gray-200 p-8 px-2 min-w-max space-4"]}>
    <div class:list={[bgCardColor, "p-8 min-w-max rounded-3xl hover:translate-x-1 hover:-translate-y-1 transition-all"]}>
       <slot /> 
    </div>
</div>
