---
import {bgColor, bgAccentColor, textColor} from '../../consts'
---

<div class:list={[bgColor, textColor, "p-8 px-2 min-w-max space-4"]}>
    <div class:list={[bgAccentColor, "p-5 min-w-max rounded-3xl hover:translate-x-1 hover:-translate-y-1 transition-all"]}>
       <slot /> 
    </div>
</div>
