---
import HeaderLink from './HeaderLink.astro';
import ThemeChanger from './ThemeChanger.astro';
---

<header class="flex justify-center">
	<nav class="fixed text-lg dark:text-gray-200 backdrop-blur-xl rounded-bl-3xl rounded-br-3xl p-2 flex flex-row -translate-y-3 space-x-3">
        <ThemeChanger />
		<HeaderLink href="/">About</HeaderLink>
		<!--HeaderLink href="/blog">Blog</HeaderLink-->
		<HeaderLink href="https://github.com/collins-self" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
