---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class="p-1 border-4 border-slate-900 dark:border-gray-200 rounded-full block active:font-bold" href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
