---
import HeaderLink from './HeaderLink.astro';
import ThemeChanger from './ThemeChanger.astro';
---

<header>
	<nav class="text-lg dark:text-white justify-center flex space-x-3 items-center ">
        <ThemeChanger />
		<HeaderLink href="/">About</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
