---
import HeaderLink from './HeaderComponents/HeaderLink.astro';
import ThemeChanger from './ThemeChanger.astro';
---

<header class="flex justify-center">
	<nav class="z-10 p-2 fixed flex flex-row space-x-3 -translate-y-3 text-lg dark:text-gray-200 backdrop-blur-xl rounded-bl-3xl rounded-br-3xl">
        <ThemeChanger />
		<HeaderLink href="/">About</HeaderLink>
		<!--HeaderLink href="/blog">Blog</HeaderLink-->
		<HeaderLink href="https://github.com/collins-self" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
