---
import PortfolioInfoCard from './PortfolioInfoCard.astro'
---
<body>
    <div class="flex "> <!-- TODO THIS FLEX -->
        <PortfolioInfoCard />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, cum non reprehenderit asperiores eveniet et excepturi fugit dolorem voluptatem facere nam vitae minus? Adipisci doloremque unde veniam ipsum ut illo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, cum non reprehenderit asperiores eveniet et excepturi fugit dolorem voluptatem facere nam vitae minus? Adipisci doloremque unde veniam ipsum ut illo.</p>
        <PortfolioInfoCard />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, cum non reprehenderit asperiores eveniet et excepturi fugit dolorem voluptatem facere nam vitae minus? Adipisci doloremque unde veniam ipsum ut illo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, cum non reprehenderit asperiores eveniet et excepturi fugit dolorem voluptatem facere nam vitae minus? Adipisci doloremque unde veniam ipsum ut illo.</p>
        <PortfolioInfoCard />
    </div>
</body>
