---
const imgClass = 'p-3 hover:rounded-xl hover:border-2 hover:border-dashed hover:border-slate-600 dark:hover:border-slate-200'
---
<div class={`bg-green-100 dark:bg-slate-600 dark:text-gray-200 p-8 px-8 min-w-max space-4`}>
    <div class={`py-4 px-8 min-w-max bg-green-50  dark:bg-slate-700 rounded-3xl transition-all`}>
        <img src="/header.svg" class=`${imgClass} m-auto block hover:translate-x-9 hover:-translate-y-5 transition-all delay-100`>
        <img src="/search.svg" class=`${imgClass} hover:translate-x-7 transition-all delay-100`>
        <img src="/body.svg" class=`${imgClass} hover:-translate-x-9 hover:translate-y-2 transition-all delay-100`>
    </div>
</div>
