---
import { textColor} from '../../consts'
---
<h1 class:list={["font-philosopher sm:text-9xl text-7xl text-center max-w-fit pt-20 uppercase", textColor]}>Collins Self</h1>
<h2 class:list={["font-averia sm:text-5xl text-3xl text-center", textColor]}>Hi! I'm a Developer.</h2>
